<!-- Add custom HTML to append on checkout app bottom. -->
<div class="container" style="padding-bottom: 2rem;">
  <a class="btn btn-light" href="/"><i class="fas fa-chevron-left"></i>&nbsp; Escolher mais produtos</a>
</div>
