<!-- Add custom HTML to append on ALL PAGES (not applied to checkout) bottom. -->
<a href="https://www.emporiotiasonia.com.br/novidades-para-voce"><img src="/img/uploads/snacks-banner-site-1-.jpg" class="img-fluid"/></a>
