<!-- Add custom HTML to append on ALL PAGES (not applied to checkout) bottom. -->
 <script type="text/javascript" src="//certificate.trustvox.com.br/widget.js"></script>
  <div id="trustvox-seal" data-trustvox-certificate-fixed="data-trustvox-certificate-fixed"></div>
  <script type="text/javascript">
    const last_col = document.querySelector('.footer .order-lg-last')
    const trustvox_seal = document.getElementById('trustvox-seal')
    last_col.appendChild(trustvox_seal)
  </script>
  <script src="/storefront.js"></script>
