<!-- Add custom HTML to append on product pages bottom. -->
<div class="container">
<div class="row">
    <div class="col-md-8 col-sm-8">
     <div class="ml-form-embed"
            data-account="1184030:r4h1t6y8d5"
            data-form="1030316:c4k0a8">
      </div>
    </div>
</div>

<script type="text/javascript">
  window.omnisend = window.omnisend || [];
  omnisend.push(["track", "$productViewed", {
    $productID: "storefront.context.body.sku",
    $variantID: "",
    $currency: "storefront.context.body.currency_id",
    $tags: [""],
    $price: "storefront.context.body.price",
    $oldPrice: "storefront.context.body.base_price",
    $title: "storefront.context.body.name",
    $description: "storefront.context.body.meta_description",
    $imageUrl: "storefront.context.body.pictures[0].big.url",
    $productUrl: "'https://www.emporiotiasonia.com.br/' + storefront.context.body.slug",
    $vendor: "tiasonia"
  }]);
</script>
