// Add your custom CSS here.
// heading tags
body {
font-family: 'Open Sans', sans-serif;
}
// header
#header .menu__list span, .header__toggler span, .menu__item span, .header__search.form-control {
  text-transform: uppercase !important;
  font-weight: 400 !important
}
.header__search.form-control {
  font-size: 15px !important
}
.header a.header__countdown {
  font-size: 0.8rem;
  background: #003996;
  font-weight:700;
}

#home .col-md-8.col-sm-7 > .banner_prs > a > img {
  max-width: 105% !important;
}
.b-popover h3 {
  letter-spacing: 0.13em;
  text-align: center !important;
}
.ec-search__popover strong, .ec-search__popover span, .ec-search__popover  {
  text-align: center;
  font-weight: 300;
}
.ec-search__popover .ec-product-card__offer-stamp {
  font-size: .78rem !important
}
.menu__item__icon > img {
  max-width: 240% !important;
  max-height: 200% !important;
}
.menu__item__icon {
  margin-right: 3.1rem !important;
  height: 3.45rem !important;
}
.menu__list span:last-child {
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
.menu__list span:last-child:hover {
  color: #719FCC;
}
.menu__list a.menu__item:hover, .menu__list a.menu__item > span:hover {
  background: #000 !important;
  color: #fff !important;
}
.header__bar {
  border-bottom: 1px dashed #D9D9D9
}
#header {
  background-color: #fff !important;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important
}
.header__search.form-control {
  border: 1px dashed #D9D9D9 !important
}
#cart-button button.btn-light,#user-button button.btn-light  {
  background-color: #fff !important;
  border-color: #fff !important
}
#accordion-menu .btn {
  color: #212529 !important
}
.menu__item:hover {
  background-color: #f8f9fA !important;
  color: #343a40 !important;
}
// content
.banner-slider {
  max-width: 100% !important;
}
#home .container {
  padding-bottom: 0px !important
}
#content {
  //padding-top: 9px
}
.products-carousel h3, .products-carousel strong, .products-carousel .ec-product-card__prices, .product-card h3, .product-card .ec-product-card__prices{
  text-align: center;
}
.products-carousel h3 {
  color: #705a3d;
  font-weight: 300;
}
#home .md-content {
  padding-bottom: 0px !important;
  margin-bottom: -1em !important;
}
// Footer
.footer__title +ul.list-unstyled > li:first-child span,.footer__title +ul.list-unstyled > li:first-child a {
  font-size: 20px !important;
  color: #2C0E7A !important;
}
.footer .col-lg-auto {
  width: 20%;
}
.footer__title +ul.list-unstyled > li:nth-child(2) > a {
  color: #2C0E7A !important;
}
.footer__stamps > .col-auto:nth-child(3) > img {
  width: 70%;
}
.footer__stamps > .col-auto > img {
  max-width: 120px;
}
.footer__title {
  color: #2C0E7A !important;
}
.footer__credits {
  text-align: center;
}
.footer__links svg {
  display: none !important;
}
.footer__links, .footer__credits, div.footer__title +p, div.footer__title +ul {
  color: #666 !important;
}
// Responsivo
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
  #product-block .ec-product__buy > button.btn-lg {
    width: 100%
  }
}
@media (min-width: 768px) {
  .visible-xs {
    display: none !important;
  }
  .footer {
      //background-image: url(/img/uploads/rodape-image.jpg) !important;
  }
}
// contact
#contact {
    background-image: url(/img/uploads/backgroundc.png) !important;
    background-repeat: no-repeat;
}
// produto
.ec-shipping__services::after {
  content: 'Frete Grátis em pedidos a partir de R$ 150,00';
  font-weight: bold;
  font-size: 13px;
  color: #333;
}
//tag desconto lista produtos
.ec-product-card__offer-stamp {
    background-color: #980011!important
}
//tamanho fonte h1
.h1, h1 {
    font-size: 2.0rem;
}

//botao comprar
.btn-primary {
    background-color: rgb(40, 167, 69);
    border-color: rgb(40, 167, 69);
}
.ec-product-card__buy.fade {
  opacity: 1 !important;
}

//fale conosco topo
.header__bar__left{
    font-size: 0.9rem;
    font-weight: 500;
}

//botao add carrinho
@media (min-width: 998px) {
  .ec-product-card__buy .btn-primary{
    width: 150px;
    height: 30px;
    margin-left: 17.5%;
  }
}
@media screen and (min-width: 481px) and (max-width: 997px) {
  .ec-product-card__buy .btn-primary{
    width: 150px;
    height: 30px;
    margin-left: 25.5%;
  }
}

.ec-product-card__buy .btn-primary {
    line-height: 0px;
    font-size: 0.8rem;
    background-color: #162567;
    border-color: #162567;
}

.ec-product-card__prices {
    height: 2.95rem;
 }
