<!-- Add custom HTML to append on homepage bottom. -->
<div class="container">
  <div class="row">
    <div class="col-md-12" style="text-align: center">
      <div class="visible-xs">
        <a href="https://www.emporiotiasonia.com.br/granola-tia-sonia/">
          <img class="lozad" data-src="/img/uploads/granola300.jpg" style="max-width: 100%; padding-bottom: 10px" alt="Granolas Tia Sonia" style="display: inline;">
        </a>
      </div>
      <div class="visible-xs">
        <a href="https://www.emporiotiasonia.com.br/snacks-tia-sonia/">
          <img class="lozad" data-src="/img/uploads/snacks300.jpg" style="max-width: 100%; padding-bottom: 10px" alt="Snacks Tia Sonia" style="display: inline;">
        </a>
      </div>
      <div class="visible-xs">
        <a href="https://www.emporiotiasonia.com.br/barras/">
          <img class="lozad" data-src="/img/uploads/barras300.jpg" style="max-width: 100%; padding-bottom: 10px" alt="Barras Tia Sonia" style="display: inline;">
        </a>
      </div>
      <div class="visible-xs">
        <a href="https://www.emporiotiasonia.com.br/cookies/">
          <img class="lozad" data-src="/img/uploads/cookies300.jpg" style="max-width: 100%" alt="Cookies Tia Sonia" style="display: inline;">
        </a>
      </div>
      <!-- <div class="row hidden-xs" id="banners-mini">
        <div class="col-md-3 col-sm-6 text-center">
          <div class="banner_prs">
            <a href="http://www.emporiotiasonia.com.br/grid/alimentos-naturais">
              <img class="lozad" data-src="/img/uploads/naturalP.png" style="max-width: 100%" alt="Alimentos Naturais" style="display: inline;">
            </a>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
          <div class="banner_prs">
            <a href="http://www.emporiotiasonia.com.br/grid/sem-gluten">
              <img class="lozad" data-src="/img/uploads/glutenP.png" style="max-width: 100%" alt="Gluten Free" style="display: inline;">
            </a>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
          <div class="banner_prs">
            <a href="http://www.emporiotiasonia.com.br/grid/sem-lactose">
              <img class="lozad" data-src="/img/uploads/lactoseP.png" style="max-width: 100%" alt="Sem Lactose" style="display: inline;">
            </a>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
          <div class="banner_prs">
            <a href="http://www.emporiotiasonia.com.br/grid/veganos-tia-sonia">
              <img class="lozad" data-src="/img/uploads/veganoP.png" style="max-width: 100%" alt="Alimentos Veganos" style="display: inline;">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="row">
    <div class="col-md-4 col-sm-5">
      <div class="ml-form-embed"
            data-account="1184030:r4h1t6y8d5"
            data-form="1030316:c4k0a8">
      </div>
    </div>
    <div class="col-md-8 col-sm-7">
      <div class="banner_prs">
        <a href="http://www.tiasonia.com.br/pt-br/sobre">
          <img class="lozad" data-src="/img/uploads/tiasoniabanner.png" alt="historia" style="display: inline !important; max-width: 100%">
        </a>
      </div>
    </div>
  </div>
</div>
<!-- MailerLite Universal -->
<script async defer>
(function(m,a,i,l,e,r){ m['MailerLiteObject']=e;function f(){
var c={ a:arguments,q:[]};var r=this.push(c);return "number"!=typeof r?r:f.bind(c.q);}
f.q=f.q||[];m[e]=m[e]||f.bind(f.q);m[e].q=m[e].q||f.q;r=a.createElement(i);
var _=a.getElementsByTagName(i)[0];r.async=1;r.src=l+'?v'+(~~(new Date().getTime()/1000000));
_.parentNode.insertBefore(r,_);})(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');

var ml_account = ml('accounts', '1184030', 'r4h1t6y8d5', 'load');
</script>
<!-- End MailerLite Universal -->
