<!-- Add custom HTML to append on homepage bottom. -->

<div class="container">
  <div class="row">
     <!-- <div class="col-md-12" style="text-align: center">
      <div class="visible-xs">
        <a href="https://www.emporiotiasonia.com.br/granola-tia-sonia/">
          <img class="lozad" data-src="/img/uploads/granola300.jpg" style="max-width: 100%; padding-bottom: 10px" alt="Granolas Tia Sonia" style="display: inline;">
        </a>
      </div>
      <div class="visible-xs">
        <a href="https://www.emporiotiasonia.com.br/snacks-tia-sonia/">
          <img class="lozad" data-src="/img/uploads/snacks300.jpg" style="max-width: 100%; padding-bottom: 10px" alt="Snacks Tia Sonia" style="display: inline;">
        </a>
      </div>
      <div class="visible-xs">
        <a href="https://www.emporiotiasonia.com.br/barras/">
          <img class="lozad" data-src="/img/uploads/barras300.jpg" style="max-width: 100%; padding-bottom: 10px" alt="Barras Tia Sonia" style="display: inline;">
        </a>
      </div>
      <div class="visible-xs">
        <a href="https://www.emporiotiasonia.com.br/cookies/">
          <img class="lozad" data-src="/img/uploads/cookies300.jpg" style="max-width: 100%" alt="Cookies Tia Sonia" style="display: inline;">
        </a>
      </div>
       <div class="row hidden-xs" id="banners-mini">
        <div class="col-md-3 col-sm-6 text-center">
          <div class="banner_prs">
            <a href="http://www.emporiotiasonia.com.br/grid/alimentos-naturais">
              <img class="lozad" data-src="/img/uploads/naturalP.png" style="max-width: 100%" alt="Alimentos Naturais" style="display: inline;">
            </a>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
          <div class="banner_prs">
            <a href="http://www.emporiotiasonia.com.br/grid/sem-gluten">
              <img class="lozad" data-src="/img/uploads/glutenP.png" style="max-width: 100%" alt="Gluten Free" style="display: inline;">
            </a>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
          <div class="banner_prs">
            <a href="http://www.emporiotiasonia.com.br/grid/sem-lactose">
              <img class="lozad" data-src="/img/uploads/lactoseP.png" style="max-width: 100%" alt="Sem Lactose" style="display: inline;">
            </a>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
          <div class="banner_prs">
            <a href="http://www.emporiotiasonia.com.br/grid/veganos-tia-sonia">
              <img class="lozad" data-src="/img/uploads/veganoP.png" style="max-width: 100%" alt="Alimentos Veganos" style="display: inline;">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="banner_prs">
        <a href="http://www.tiasonia.com.br/pt-br/sobre">
          <img class="lozad" data-src="/img/uploads/tstorytiasonia.jpg" alt="historia" style="display: inline !important; max-width: 100%">
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12">
    
   	<!-- Begin Mailchimp Signup Form -->
<div id="mc_embed_signup">
<form action="https://emporiotiasonia.us18.list-manage.com/subscribe/post?u=50fb811b4affffac742b806c3&amp;id=07c49eaf5a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<h2>Cadastre-se e receba dicas, receitas e ofertas exclusivas para uma vida bem mais Feliz!</h2>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email </label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
	<label for="mce-FNAME">Primeiro Nome </label>
	<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_50fb811b4affffac742b806c3_07c49eaf5a" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Eu Quero!" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->

    </div>
  </div>
</div>

